@import url('https://fonts.googleapis.com/css2?family=Alkalami&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Seaweed+Script&display=swap');


/* Resetting the document */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Style the header */
header {
  background-color: #53d4ef;
  padding: 30px 40px;
  color: black;
  text-align: center;
}

h1, form {
  font-family: 'Alkalami', sans-serif;
  letter-spacing: 2px;
  margin-bottom: 15px;;
}

input {
  margin-right: 0;
  padding: 12px;
  border: none;
  font-size: 16px;
  font-family: Seaweed Script, cursive;
  text-align: center;
}

select{
  width: 15%;
  font-family: 'Alkalami', sans-serif;
}

option{
  color: white;
  background-color:black;
}

.submitBtn {
   width: 10%;
   border: none;
   outline: none;
   background: #2f2f2f;
   color: #fff;
   font-size: 22px;
   border-radius: 40px;
   text-align: center;
   box-shadow: 0 6px 20px -5px rgba(0,0,0,0.4);
   position: relative;
   overflow: hidden;
   cursor: pointer;
}

.submitBtn:hover {
  background-color: #bbb;
  color: #FFF;
}

/* Style the list items */
ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  list-style-type: none;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;
  font-family: Alkalami, sans-serif;
}

/* Set all even list items to a different color (zebra-stripes) */
ul li:nth-child(even) {
  background: #b2bec3;
}

/* Darker background-color on hover */
ul li:hover {
  background: #ddd;
}
